node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

Components/EditFarmer.js
Components/EditFarmerComponent.js
Components/InsertFarmer.js
